Formatting nits reported by the IETF tool

https://tools.ietf.org/tools/idnits/


rfc-3339.txt:
rfc-3339.txt(580): Line is too long: the offending characters are 'ear'
rfc-3339.txt(585): Line is too long: the offending characters are 'les'
rfc-3339.txt(587): Line is too long: the offending characters are 'rac]'
rfc-3339.txt(593): Line is too long: the offending characters are '") ; but not "." or ".."'
rfc-3339.txt(865): Line appears to be too long, but this could be caused by non-ascii characters in UTF-8 encoding
rfc-3339.txt(865): Found non-ascii character (?) in position 20.
rfc-3339.txt(884): Line appears to be too long, but this could be caused by non-ascii characters in UTF-8 encoding
rfc-3339.txt(884): Found non-ascii character (?) in position 59.
rfc-3339.txt(922): Found non-ascii character (?) in position 18.
rfc-3339.txt(965): Possible code comment in line:        /* adjust months so February is the last one \*\/.
rfc-3339.txt(971): Possible code comment in line:        /* split by century \*\/.
rfc-3339.txt(984): Possible code comment in line:    /* This returns non-zero if year is a leap year.  Must use 4 digit.
rfc-3339.txt(986): Possible code comment in line:    \*\/.

-(699): Line appears to be too long, but this could be caused by non-ascii characters in UTF-8 encoding
-(718): Line appears to be too long, but this could be caused by non-ascii characters in UTF-8 encoding

  Checking boilerplate required by RFC 5378 and the IETF Trust (see
  https://trustee.ietf.org/license-info):
  ----------------------------------------------------------------------------

     No issues found here.

  Checking nits according to https://www.ietf.org/id-info/1id-guidelines.txt:
  ----------------------------------------------------------------------------

  == There are 3 instances of lines with non-ascii characters in the document.


  Checking nits according to https://www.ietf.org/id-info/checklist :
  ----------------------------------------------------------------------------

  ** The document seems to lack an IANA Considerations section.  (See Section
     2.2 of https://www.ietf.org/id-info/checklist for how to handle the case
     when there are no actions for IANA.)

  ** There are 4 instances of too long lines in the document, the longest one
     being 24 characters in excess of 72.


  Miscellaneous warnings:
  ----------------------------------------------------------------------------

  -- Found something which looks like a code comment -- if you have code
     sections in the document, please surround them with '\<CODE BEGINS>' and
     '\<CODE ENDS>' lines.


  Checking references for intended status: Proposed Standard
  ----------------------------------------------------------------------------

     (See RFCs 3967 and 4897 for information about using normative references
     to lower-maturity documents in RFCs)

  == Missing Reference: 'ISO8601' is mentioned on line 729, but not
     defined
     '[ISO8601]  International Organization for Standardization, "Data...'

  == Missing Reference: 'IERS' is mentioned on line 811, but not defined
     '|  responsibility of the International Earth Rotation Service [IE...'

  == Missing Reference: 'CGPM' is mentioned on line 745, but not
     defined
'[CGPM]     "Resolution 1 of the 13th CGPM, 1967"....'

  == Missing Reference: 'ITU-R-TF' is mentioned on line 801, but not
     defined
     'as UTC, and the current version of that recommendation is [ITU-R-...'

  == Missing Reference: 'RFC3339' is mentioned on line 733, but not
     defined
     '[RFC3339]  Klyne, G. and C. Newman, "Date and Time on the Interne...'

  == Missing Reference: 'RFC5226' is mentioned on line 368, but not
     defined
     'policy defined by [RFC5226].  This policy requires the developmen...'

  ** Obsolete undefined reference: RFC 5226 (Obsoleted by RFC 8126)

  == Missing Reference: 'ISO8601-2000' is mentioned on line 738, but not
     defined
'[ISO8601-2000]...'

  == Missing Reference: 'ZELLER' is mentioned on line 755, but not
     defined
     'Congruence [ZELLER] which may be used to obtain the day of the we...'

  ** Obsolete normative reference: RFC 2822 (Obsoleted by RFC 5322)

  ** Obsolete normative reference: RFC 2234 (Obsoleted by RFC 4234)

  ** Obsolete normative reference: RFC 1305 (Obsoleted by RFC 5905)


     Summary: 6 errors (**), 0 flaws (~~), 10 warnings (==), 1 comment (--).