The draft carries forward now-obsolete references

* ABNF is now properly referenced from RFC 5234 (optionally with the case-sensitive extension from RFC 7405) rather than RFC 2234. There's a decent example at https://datatracker.ietf.org/doc/html/rfc7838#section-1.1 .
* The email format is now defined by RFC 5322 rather than RFC 2822 (although the obsolescence of non-numeric time zones _was_ introduced in RFC 2822).
* NTP is now at version 4, defined by RFC 5905, rather than version 3 defined by RFC 1305 (and the definition of timescale moved into section 4 from Appendix E, although the discussion is _much_ reduced so perhaps the specific reference to that appendix should remain).
* RFC 1123 is very broad, and the reference to it should specify section 5.2.14.